
~$oject2_proposal.docx
resources/.DS_Store
resources/1_toronto_canada/2019-Q1.csv
resources/1_toronto_canada/2019-Q2.csv
resources/1_toronto_canada/2019-Q3.csv
resources/1_toronto_canada/2019-Q4.csv
